:root {
    --color-background: #4d403b;
    --part-shadow: drop-shadow(0 0 .1px var(--color-background));
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#content {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
}

#content g {
    filter: var(--part-shadow);
}

#content .layer-0 {
    fill: #a4998a;
}

#content .layer-1 {
    fill: #cca98a;
}

#content .layer-2 {
    fill: #be8046;
}

#content .layer-3 {
    fill: #a15d1e;
    filter: none;
}