body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

#content {
    width: 100%;
    height: 100%;
}

#content .layer-0 {
    fill: #a15d1e;
}

#content .layer-1 {
    fill: #be8046;
}

#content .layer-2 {
    fill: #cca98a;
}

#content .layer-3 {
    fill: #a4998a;
}